<h6 class="bg-danger text-info text-center">Employee Management System</h6>
<img src="https://th.bing.com/th/id/Rdd781f47225736e3821403b4ab8fb770?rik=Do2eWbLoM6Gd3A&riu=http%3a%2f%2fwww.hrinasia.com%2fwp-content%2fuploads%2f2015%2f11%2fHappy-employees1.jpg&ehk=qvD7PVZCh9eYSFoL6gyGrri7NfC693nyMFuIzTXFBSg%3d&risl=&pid=ImgRaw" class="img-responsive" />
